
	 <script src="/js/jquery-3.2.1.min.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
	  <script src="/js/owl.carousel.min.js"></script>
	  <script src="/js/masonry.pkgd.min.js"></script>
	  <script src="/js/magnific-popup.min.js"></script>
	    <script src="/js/delete.js"></script>
	  <script src="/js/main.js"></script>
	  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
  </body>
</html>